@media screen and (max-width: 750px) {
  div.game-container-x5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* Nascondi l'ultima card-game su schermi stretti */
  .game-container-x5 .card-game:last-child {
    display: none;
  }
}

.tendenza-container {
  padding: 5px;
  max-width: 1300px;
  margin-bottom: 64px;
  /* color: white; */
}
.title-trending {
  font-size: 1.4em;
  font-weight: bold;
}
.title-and-button {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 5px;
  min-height: 30px;
}
.game-container-x5 {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
}
/* bozza card-game, sostituire con quella finale */
.card-game {
  min-width: 50px;
  max-width: 250px;

  height: 100%;
  margin-left: 5px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card-game > .img-game {
  width: 100%;
  border-radius: 10px;
}

.card-game > h4 {
  margin: 8px 0;
}
.card-game > span {
  margin-top: 5px;
}
