<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Di_Tendenza.css" />
  </head>
  <body>
    <div class="tendenza-container">
      <button title="visualizza-altri"></button>
      <!--  -->
      <div class="card-1game">
        <img src="#" alt="immagine gioco" />
        <p>gioco base</p>
        <h4>Mongil: star dive</h4>
        <button title="prenota"></button>
        <span title="descrizione_uscita">in arrivo</span>
      </div>
      <!--  -->
      <div class="card-2game">
        <img src="#" alt="immagine gioco" />
        <p>gioco base</p>
        <h4>Mongil: star dive</h4>
        <button title="prenota"></button>
        <span title="descrizione_uscita">in arrivo</span>
      </div>
      <!--  -->
      <div class="card-3game">
        <img src="#" alt="immagine gioco" />
        <p>gioco base</p>
        <h4>Mongil: star dive</h4>
        <button title="prenota"></button>
        <span title="descrizione_uscita">in arrivo</span>
      </div>
      <!--  -->
      <div class="card-1game">
        <img src="#" alt="immagine gioco" />
        <p>gioco base</p>
        <h4>Mongil: star dive</h4>
        <button title="prenota"></button>
        <span title="descrizione_uscita">in arrivo</span>
      </div>
      <!--  -->
      <div class="card-1game">
        <img src="#" alt="immagine gioco" />
        <p>gioco base</p>
        <h4>Mongil: star dive</h4>
        <button title="prenota"></button>
        <span title="descrizione_uscita">in arrivo</span>
      </div>
      <!--  -->
    </div>
  </body>
</html>
