<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="Di_Tendenza.css" />
  </head>
  <body>
    <div style="background-color: grey">
      <div class="tendenza-container">
        <div class="title-button">
          <h3>Di Tendenza</h3>
          <button title="visualizza-altri">Visualizza altri</button>
        </div>
        <div class="game-container">
          <!--  -->
          <div class="card-game">
            <img
              src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
              alt="immagine gioco"
              class="img-game"
            />
            <span>gioco base</span>
            <h4>Mongil: star dive</h4>
            <span title="descrizione_uscita">in arrivo</span>
            <span title="prenota">69.99€</span>
          </div>
          <!--  -->
          <div class="card-game">
            <img
              src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
              alt="immagine gioco"
              class="img-game"
            />
            <span>gioco base</span>
            <h4>Mongil: star dive</h4>
            <span title="descrizione_uscita">in arrivo</span>
            <span title="prenota">prezzo gioco</span>
          </div>
          <!--  -->
          <div class="card-game">
            <img
              src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
              alt="immagine gioco"
              class="img-game"
            />
            <span>gioco base</span>
            <h4>Mongil: star dive</h4>
            <span title="descrizione_uscita">in arrivo</span>
            <span title="prenota">prezzo gioco</span>
          </div>
          <!--  -->
          <div class="card-game">
            <img
              src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
              alt="immagine gioco"
              class="img-game"
            />
            <span>gioco base</span>
            <h4>Mongil: star dive</h4>
            <span title="descrizione_uscita">in arrivo</span>
            <span title="prenota">prezzo gioco</span>
          </div>
          <!--  -->
          <div class="card-game">
            <img
              src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
              alt="immagine gioco"
              class="img-game"
            />
            <span>gioco base</span>
            <h4>Mongil: star dive</h4>
            <span title="descrizione_uscita">in arrivo</span>
            <span title="prenota">prezzo gioco</span>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </body>
</html>
