<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="requisiti-sistema.css" />
    <link rel="stylesheet" href="../common.css" />
    <title>Requisiti Di Sistema</title>
  </head>
  <body>
    <div class="requisiti-container">
      <h2>Requisiti di sistema di Alien: Rogue Incursion Evolved Edition</h2>

      <div class="scheda">
        <h3>Windows</h3>

        <div class="requisiti">
          <div class="colonna">
            <h4>Minime</h4>
            <p><strong>OS version</strong><br />Windows 10 / Windows 11</p>
            <p>
              <strong>CPU</strong><br />Intel Core i5-8600 / AMD Ryzen 5 3600 /
              Snapdragon(R) X
            </p>
            <p><strong>Memory</strong><br />16 GB</p>
            <p>
              <strong>GPU</strong><br />NVIDIA GeForce GTX 1060 6GB / AMD Radeon
              RX 580 8GB / Qualcomm(R) Adreno X1 GPU
            </p>
            <p><strong>DirectX</strong><br />DirectX 12</p>
            <p><strong>Storage</strong><br />30 GB</p>
            <p><strong>Additional Notes</strong><br />SSD Required</p>
            <p><strong>Account di accesso obbligatori</strong><br />Epic ID</p>
          </div>

          <div class="colonna">
            <h4>Consigliate</h4>
            <p><strong>OS version</strong><br />Windows 10 / Windows 11</p>
            <p>
              <strong>CPU</strong><br />Intel Core i5-12600 / AMD Ryzen 7 5700x
              / Snapdragon(R) X Elite
            </p>
            <p><strong>Memory</strong><br />16 GB</p>
            <p>
              <strong>GPU</strong><br />NVIDIA GeForce RTX 3070 / AMD Radeon RX
              6800 XT / Qualcomm(R) Adreno X1 GPU
            </p>
            <p><strong>DirectX</strong><br />DirectX 12</p>
            <p><strong>Storage</strong><br />30 GB</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
