<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="button.css" />
  </head>
  <body>
    <button class="accedi">Accedi</button>
    <button class="scarica">Scarica</button>
    <button class="negozio">
      <svg
        aria-hidden="true"
        class="eds_5nt5ak0 eds_5nt5ak9"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          d="M15.25 4a.75.75 0 0 1 .75-.75h5.75V9a.75.75 0 0 1-1.5 0V5.81l-6.72 6.72a.75.75 0 1 1-1.06-1.06l6.72-6.72H16a.75.75 0 0 1-.75-.75M6.5 7.75a.75.75 0 0 0-.75.75v10c0 .414.336.75.75.75h10a.75.75 0 0 0 .75-.75V16a.75.75 0 0 1 1.5 0v2.5a2.25 2.25 0 0 1-2.25 2.25h-10a2.25 2.25 0 0 1-2.25-2.25v-10A2.25 2.25 0 0 1 6.5 6.25H9a.75.75 0 0 1 0 1.5z"
          clip-rule="evenodd"
          fill-rule="evenodd"
        ></path>
      </svg>
      Vedi nel negozio
    </button>
    <button class="scopri">Scopri di più</button>
    <button class="gioca-gratis">Gioca gratis</button>
    <button class="desideri">Aggiungi alla lista dei desideri</button>
    <hr />
    <button class="altri">Visualizza altri</button>
    <button class="leggi">Leggi di più</button>
    <!-- <button class="provalo-gratis">Provalo gratis</button> -->
    <button class="ora">Gioca ora</button>
    <button class="esplora">Esplora</button>
    <button class="torna-su">
      Torna all'inizio
      <svg
        width="20px"
        height="20px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.25 16a.75.75 0 0 0 1.5 0V9.81l2.22 2.22a.75.75 0 1 0 1.06-1.06L12 6.94l-4.03 4.03a.75.75 0 1 0 1.06 1.06l2.22-2.22z"
        ></path>
        <path
          fill-rule="evenodd"
          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25M3.75 12a8.25 8.25 0 1 1 16.5 0 8.25 8.25 0 0 1-16.5 0"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
    <hr />
    <button class="compra">Compra ora</button>
    <button class="carrello">Aggiungi al carrello</button>
    <button class="lista-desideri">Lista dei desideri</button>
    <button class="condividi">
      <svg
        aria-hidden="true"
        class="eds_5nt5ak0 eds_5nt5ak9 eds_14hl3lj7"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          d="M16.5 3.25a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 0 0 0-5.5M12.25 6a4.25 4.25 0 1 1 .937 2.662l-3.655 1.993a4.25 4.25 0 0 1 0 2.69l3.655 1.993a4.25 4.25 0 1 1-.72 1.316l-3.654-1.992a4.25 4.25 0 1 1 0-5.323l3.654-1.994A4.3 4.3 0 0 1 12.25 6M5.5 9.25a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 0 0 0-5.5m11 6a2.75 2.75 0 1 0 0 5.5 2.75 2.75 0 1 0 0-5.5"
          clip-rule="evenodd"
          fill-rule="evenodd"
        ></path>
      </svg>
      Condividi
    </button>
    <button class="segnala">
      <svg
        aria-hidden="true"
        class="eds_5nt5ak0 eds_5nt5ak9 eds_14hl3lj7"
        width="16"
        height="16"
        viewBox="0 0 24 24"
      >
        <path
          d="M6.5 2.25A2.25 2.25 0 0 0 4.25 4.5V21a.75.75 0 0 0 1.5 0v-7.25H20a.75.75 0 0 0 .586-1.219L16.96 8l3.625-4.531A.75.75 0 0 0 20 2.25zM5.75 4.5a.75.75 0 0 1 .75-.75h11.94l-3.026 3.781a.75.75 0 0 0 0 .938l3.025 3.781H5.75z"
          clip-rule="evenodd"
          fill-rule="evenodd"
        ></path>
      </svg>
      Segnala
    </button>
  </body>
</html>
