<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alien: Rogue Incursion - Epic Style</title>
    <link rel="stylesheet" href="panoramica.css" />
  </head>
  <body>
    <div class="container">
      <header class="game-header">
        <h1 class="game-title">Alien: Rogue Incursion Evolved Edition</h1>
        <div class="game-rating"><span class="rating-star">★★★★</span> 3.9</div>
        <nav class="sub-nav">
          <a href="#" class="active">Panoramica</a>
          <a href="#">Obiettivi</a>
        </nav>
      </header>

      <div class="main-content-wrapper">
        <div class="media-main">
          <video
            controls
            src="https://media-cdn.epicgames.com/63e56ed48dd84851969411b55527d306/63e56ed48dd84851969411b55527d306-high.fmp4"
          ></video>
        </div>

        <div class="thumbnail-gallery">
          <button aria-label="Scheda precedente" tabindex="0">
            <span aria-hidden="true" data-testid="icon"
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9">
                <path
                  stroke="currentColor"
                  d="M1 1l3 3.5L1 8"
                  fill="none"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </span>
          </button>
          <div class="thumbnail active">
            <img
              alt="slide-thumbnail"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-video-mnsem.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-video-mnsem.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-1bnjj"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1bnjj.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1bnjj.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-1by06"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1by06.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1by06.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-r8nr9"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-r8nr9.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-r8nr9.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-1bf0h"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1bf0h.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1bf0h.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-1np1c"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1np1c.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1np1c.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-11c8d"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-11c8d.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-11c8d.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-eku8q"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-eku8q.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-eku8q.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <div class="thumbnail">
            <img
              alt="Alien: Rogue Incursion Evolved Edition-cn522"
              src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-cn522.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-image="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-cn522.png?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
              data-testid="picture-image"
            />
          </div>
          <button aria-label="Prossima scheda" tabindex="0">
            <span aria-hidden="true" data-testid="icon"
              ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9">
                <path
                  stroke="currentColor"
                  d="M1 1l3 3.5L1 8"
                  fill="none"
                  fill-rule="evenodd"
                ></path>
              </svg>
            </span>
          </button>
        </div>

        <div class="main-content">
          <div class="description-column">
            <p>
              A new action-horror story set in the iconic Alien universe. Play
              as rogue Colonial Marine Zula Hendricks, investigating a Purdan
              blacksite. Fight and survive using your skill and determination
              against a deadly Xenomorph in this gripping first chapter of a
              two-part saga.
            </p>

            <div class="details-column">
              <div class="details-section">
                <h3>Generi</h3>
                <div class="details-list">
                  <span class="details-item">Azione</span>
                  <span class="details-item">Horror</span>
                  <span class="details-item">Spara-tutto</span>
                </div>
              </div>

              <div class="details-section">
                <h3>Caratteristiche</h3>
                <div class="details-list">
                  <span class="details-item">Giocatore singolo</span>
                  <span class="details-item">Salvataggi nel cloud</span>
                </div>
              </div>
            </div>

            <div class="promo-text">
              <h2>
                Made for Alien fans. Built for action-horror. Re-envisioned for
                PC.
              </h2>
              <p>
                Play as rogue Colonial Marine Zula Hendricks in the terrifying
                first chapter of a two-part saga set between the Alien and
                Aliens films. Sent to investigate a distress call on the remote
                planet Purdan, Zula uncovers a secret Wayland-Yutani blacksite
                overrun by deadly Xenomorphs. Stalking, hunting, and attacking
                at every turn, these Xenomorph ferocity is matched only by their
                unpredictability. Aided by your synth companion, Davis .01,
                fight and survive using your weapons, skills, and sheer
                determination against a deadly Xenomorph in this gripping
                original story.
              </p>
              <p class="note">
                Rebuilt for PC with stunning visuals, 60 fps, 3D audio, haptic
                feedback, and adaptive triggers, Alien: Rogue Incursion Evolved
                Edition delivers a cinematic action experience that makes you
                truly feel like you're inside the world of Alien.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
