@media screen and (max-width: 769px) {
  div.game-container-x6 {
    display: flex;
    flex-direction: row;
  }
  /*applicare soltanto a tendenza container*/
  @media screen and (max-width: 376px) {
    div.game-container-x6 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
}
.tendenza-container-x4 {
  padding: 5px;
  max-width: 1000px;
  margin-bottom: 64px;
  background-color: var(--background-grey-button);
  border-radius: 15px;
  padding: 20px;
}
.title-trending {
  font-size: 1.2em;
  font-weight: bold;
}
.title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 5px;
  min-height: 30px;
}
.game-container-x6 {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
  align-items: flex-start;
}

.scopri-di-più {
  color: var(--font-text-white-color);
  background-color: var(--background-grey-button);
  font-weight: 550;
  font-size: 13px;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.scopri-di-più:hover {
  filter: brightness(125%);
}

.sottotitolo-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid var(--azure-discount-color);
  color: black;
  background-color: var(--azure-discount-color);
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
.sottotitolo-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  color: white;
  background-color: black;
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}
