<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="multi-colonna.css" />
  </head>
  <body>
    <div class="colonna-container">
      <div class="colonna-singola">
        <h4 class="title-column">Nuove Uscite <span>></span></h4>

        <div class="card-mini-game">
          <div class="cover-img">
            <img
              src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
              alt="freddy-mini-card"
            />
            <div class="wishlist-icon" title="Aggiungi alla lista dei desideri">
              <span class="icon-plus">+</span>
              <span class="tooltip-text">Lista dei desideri</span>
            </div>
          </div>
          <div class="title-price">
            <h3>Five Nights at Freddy: into the pit</h3>
            <div>in arrivo</div>
          </div>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
      </div>
      <div class="colonna-singola">
        <h4>I Meglio Valutati dai Giocatori <span>></span></h4>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
      </div>
      <div class="colonna-singola">
        <h4>In Arrivo <span>></span></h4>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
        <div class="card-mini-game">
          <img
            src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
            alt="freddy-mini-card"
          />
          <h3>Five Nights at Freddy: into the pit</h3>
          <span>in arrivo</span>
        </div>
      </div>
    </div>
  </body>
</html>
