<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css" />
  </head>
  <body>
    <div class="topbar">
      <div class="search-box">
        <span class="search-icon">
          <svg
            widht="15"
            height="15"
            xmlns="http://www.w3.org/2000/svg"
            class="svg css-uwwqev"
            viewBox="0 0 21 20"
            preserveAspectRatio="xMidYMid meet"
          >
            <g
              transform="scale(1 -1) rotate(-45 -11.93502884 -2)"
              stroke="currentColor"
              stroke-width="1.65"
              fill="white"
              fill-rule="evenodd"
            >
              <circle cx="7.70710678" cy="7.70710678" r="7"></circle>
              <path
                d="M15.2071068 8.62132034h5.6923881"
                stroke-linecap="square"
              ></path>
            </g>
          </svg>
        </span>
        <input type="text" placeholder="Search store" />
      </div>
      <div class="menu">
        <a href="#" class="active">Discover</a>
        <a href="#">Browse</a>
        <a href="#">News</a>
      </div>
    </div>
  </body>
</html>
