.block-3img {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0px 0px 64px;
  padding: 0px 16px;
  max-width: 1500px;
}

.gioco {
  min-width: 250px;
  height: 159px;
  border-radius: 10px;
  cursor: pointer;
}

.gioco:hover {
  filter: brightness(150%);
}

.fortnite-card {
  max-width: 284px;
  border-radius: 5px;
}

.nome {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0px 20px 0px;
  cursor: pointer;
}

.descrizione {
  color: #929094;
  font-size: 14px;
  font-weight: 500px;
  padding-bottom: 20px;
}

.negozio {
  border-radius: 10px;
  padding: 10px;
  background-color: #646366;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.svg {
  float: right;
  fill: white;
  padding-left: 5px;
}

.negozio:hover {
  background-color: lightgray;
}

@media (max-width: 376px) /* Versione mobile */ {
  .block-3img {
    /* max-width: 376px; */
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    overflow-x: auto;
  }
}
