.block-3img {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: black;
  width: fit-content;
  margin: 0px 0px 64px;
  padding: 0px 16px;
}

.gioco {
  width: 284px;
  height: 159px;
  border-radius: 5px;
}

.fortnite-card {
  max-width: 284px;
  border-radius: 5px;
}

.nome {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.descrizione {
  color: #929094;
  font-size: 14px;
  font-weight: 500px;
}

.negozio {
  border-radius: 10px;
  padding: 10px;
  background-color: #646366;
  color: #ffffff;
  font-size: 16px;

  .negozio:hover {
    background-color: lightgray;
  }
}

@media (max-width: 375 px) /* Versione mobile */ {
  .block-3img {
    width: 258px;
    height: 352px;
  }

  @media (max-width: 768px) /* Versione tablet */ {
    .block-3img {
      width: 584 px;
      height: 489px;
    }
  }
}
