<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="3-img.css" />
  </head>
  <body>
    <div class="block-3img">
      <div class="fortnite-card">
        <img
          class="gioco"
          alt="Fortnite"
          src="https://cdn2.unrealengine.com/it-fneco-37-40-fortnitemares-grabber-social-1920x1080-1920x1080-99be53adbfa7.jpg?resize=1&w=854&h=480&quality=medium"
        />
        <h4 class="nome">Fortnite</h4>
        <p class="descrizione">
          La vendetta non muore mai. Il Rapace è arrivato nel negozio oggetti.
        </p>
        <button class="negozio">
          <svg
            aria-hidden="true"
            class="svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.25 4a.75.75 0 0 1 .75-.75h5.75V9a.75.75 0 0 1-1.5 0V5.81l-6.72 6.72a.75.75 0 1 1-1.06-1.06l6.72-6.72H16a.75.75 0 0 1-.75-.75M6.5 7.75a.75.75 0 0 0-.75.75v10c0 .414.336.75.75.75h10a.75.75 0 0 0 .75-.75V16a.75.75 0 0 1 1.5 0v2.5a2.25 2.25 0 0 1-2.25 2.25h-10a2.25 2.25 0 0 1-2.25-2.25v-10A2.25 2.25 0 0 1 6.5 6.25H9a.75.75 0 0 1 0 1.5z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          Vedi nel negozio
        </button>
      </div>
      <div class="fortnite-card">
        <img
          class="gioco"
          alt="Fortnite"
          src="https://cdn2.unrealengine.com/it-fneco-37-40-fortnitemares-gnatgala-keyart--1920x1080-1920x1080-222896cb035d.jpg?resize=1&w=854&h=480&quality=medium"
        />
        <h4 class="nome">Fortnite</h4>
        <p class="descrizione">
          Silenzioso, inarrestabile e pronto per la sua prossima vittima. Jason
          è ora nel negozio.
        </p>
        <button class="negozio">
          <svg
            aria-hidden="true"
            class="svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.25 4a.75.75 0 0 1 .75-.75h5.75V9a.75.75 0 0 1-1.5 0V5.81l-6.72 6.72a.75.75 0 1 1-1.06-1.06l6.72-6.72H16a.75.75 0 0 1-.75-.75M6.5 7.75a.75.75 0 0 0-.75.75v10c0 .414.336.75.75.75h10a.75.75 0 0 0 .75-.75V16a.75.75 0 0 1 1.5 0v2.5a2.25 2.25 0 0 1-2.25 2.25h-10a2.25 2.25 0 0 1-2.25-2.25v-10A2.25 2.25 0 0 1 6.5 6.25H9a.75.75 0 0 1 0 1.5z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          Vedi nel negozio
        </button>
      </div>
      <div class="fortnite-card">
        <img
          class="gioco"
          alt="Fortnite"
          src="https://cdn2.unrealengine.com/fneco37-50-highstakesnitemares-lycanwest-helsiemidnight-redruinjoni-social-1920x1080-1920x1080-143e6f828cec.jpg?resize=1&w=854&h=480&quality=medium"
        />
        <h4 class="nome">Fortnite</h4>
        <p class="descrizione">
          Sfoggia il tuo look più spaventoso con il bundle Incubi Puntate Alte.
        </p>
        <button class="negozio">
          <svg
            aria-hidden="true"
            class="svg"
            width="22"
            height="22"
            viewBox="0 0 24 24"
          >
            <path
              d="M15.25 4a.75.75 0 0 1 .75-.75h5.75V9a.75.75 0 0 1-1.5 0V5.81l-6.72 6.72a.75.75 0 1 1-1.06-1.06l6.72-6.72H16a.75.75 0 0 1-.75-.75M6.5 7.75a.75.75 0 0 0-.75.75v10c0 .414.336.75.75.75h10a.75.75 0 0 0 .75-.75V16a.75.75 0 0 1 1.5 0v2.5a2.25 2.25 0 0 1-2.25 2.25h-10a2.25 2.25 0 0 1-2.25-2.25v-10A2.25 2.25 0 0 1 6.5 6.25H9a.75.75 0 0 1 0 1.5z"
              clip-rule="evenodd"
              fill-rule="evenodd"
            ></path>
          </svg>
          Vedi nel negozio
        </button>
      </div>
    </div>
  </body>
</html>
