.content {
  display: flex;
  /* justify-content: space-between; */
  gap: 30px;
  padding: 40px;
}

.main-banner {
  position: relative;
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  max-width: 50%;
}

.banner-text h1 {
  font-size: 2rem;
  margin: 0;
}

.banner-text span {
  font-weight: 300;
  font-size: 1.2rem;
}

.banner-text h4 {
  font-size: 0.9rem;
  color: #ddd;
  margin-top: 15px;
}

.banner-text p {
  color: #bbb;
  font-size: 0.9rem;
  line-height: 1.4;
}

.price {
  font-weight: bold;
  margin-top: 10px;
}

.buttons {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.buy-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.buy-btn:hover {
  background-color: #ddd;
}

.wishlist {
  margin-left: 15px;
  color: #ccc;
  font-size: 0.9rem;
  text-decoration: none;
}

.wishlist:hover {
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.game img {
  width: 55px;
  height: 55px;
  border-radius: 6px;
  object-fit: cover;
}

.game p {
  font-size: 0.9rem;
  color: #ccc;
}

.game.active {
  background-color: #2a2a2a;
  color: #fff;
}

.game.active p {
  color: #fff;
}

.game:hover {
  background-color: #1c1c1c;
}
