@media screen and (max-width: 768px) {
  div.game-container-x6 {
    display: flex;
    flex-direction: row;
  }
  .game-container-x6 .card-game:nth-child(5),
  .game-container-x6 .card-game:nth-child(6) {
    display: none;
  }
}
/*applicare soltanto a tendenza container*/
@media screen and (max-width: 375px) {
  div.game-container-x6 {
    display: flex;
    flex-direction: row;
  }
}

.tendenza-container {
  padding: 5px;
  max-width: 1300px;
  margin-bottom: 64px;
  /* color: white; */
}
.title-trending {
  font-size: 1.2em;
  font-weight: bold;
}
.title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 5px;
  min-height: 30px;
}
.game-container-x6 {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: nowrap;
  gap: 5px;
  width: 100%;
  align-items: flex-start;
}
