<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="../card-game/card-game.css" />
    <link rel="stylesheet" href="new-discovery-x6.css" />
  </head>
  <body>
    <!--  -->
    <div style="background-color: var(--background-web-page)">
      <div class="tendenza-container">
        <div class="title-and-button">
          <h4 class="title-trending">Scopri qualcosa di nuovo ></h4>
          <button title="visualizza-altri">Visualizza altri</button>
        </div>
        <div class="game-container-x5">
          <!--  -->
          <div class="card-game">
            <div class="img-container">
              <div class="img-cover">
                <img
                  src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
                  alt="immagine gioco"
                  class="img-game"
                />
                <div
                  class="wishlist-icon"
                  title="Aggiungi alla lista dei desideri"
                >
                  <span class="icon-plus">+</span>
                  <span class="tooltip-text">Lista dei desideri</span>
                </div>
              </div>
            </div>
            <span>Gioco base</span>
            <h4 class="title-game">Where wind meet</h4>
            <span title="descrizione_uscita">In arrivo</span>
            <span title="discount" class="price-container">
              <!-- span prezzo discount -->
              <span title="discount" class="discount">-20%</span>
              <span title="discount" class="old-price">79.99 €</span>
              <span title="discount" class="price">63.99€</span>
            </span>
          </div>
          <!--  -->
          <div class="card-game">
            <div class="img-container">
              <div class="img-cover">
                <img
                  src="https://cdn1.epicgames.com/spt-assets/5c65df08b03a43eb8be026116ef8e979/five-nights-at-freddys-into-the-pit-161gk.png?resize=1&w=360&h=480&quality=medium"
                  alt="immagine gioco"
                  class="img-game"
                />
                <div
                  class="wishlist-icon"
                  title="Aggiungi alla lista dei desideri"
                >
                  <span class="icon-plus">+</span>
                  <span class="tooltip-text">Lista dei desideri</span>
                </div>
              </div>
            </div>
            <span>Gioco base</span>
            <h4 class="title-game">Five nights at Freddys into the pit</h4>
            <span title="descrizione_uscita">In arrivo</span>
          </div>
          <!--  -->
          <div class="card-game">
            <div class="img-container">
              <div class="img-cover">
                <img
                  src="https://cdn1.epicgames.com/offer/8a99a8abdf214007952a404426ecfe52/EGS_OutofWords_KongOrangeWiredFlyandMortenSndergaard_S2_1200x1600-6cbbc7b4f00e04cca66fd5e1c300d79b?resize=1&w=360&h=480&quality=medium"
                  alt="immagine gioco"
                  class="img-game"
                />
                <div
                  class="wishlist-icon"
                  title="Aggiungi alla lista dei desideri"
                >
                  <span class="icon-plus">+</span>
                  <span class="tooltip-text">Lista dei desideri</span>
                </div>
              </div>
            </div>
            <span>Gioco base</span>
            <h4 class="title-game">Out of worlds</h4>
            <span title="descrizione_uscita">In arrivo</span>
          </div>
          <!--  -->
          <div class="card-game">
            <div class="img-container">
              <div class="img-cover">
                <img
                  src="https://cdn1.epicgames.com/spt-assets/eea910a7cb414468a2b6eef5a33d0b71/tanglefoot-134vj.jpg?resize=1&w=360&h=480&quality=medium"
                  alt="immagine gioco"
                  class="img-game"
                />
                <div
                  class="wishlist-icon"
                  title="Aggiungi alla lista dei desideri"
                >
                  <span class="icon-plus">+</span>
                  <span class="tooltip-text">Lista dei desideri</span>
                </div>
              </div>
            </div>
            <span>Gioco base</span>
            <h4 class="title-game">Football manager 26</h4>
            <span title="descrizione_uscita">Disponibile: 04/11/24</span>
            <span title="discount" class="price-container">
              <!-- span prezzo discount -->
              <span title="discount" class="discount">-10%</span>
              <span title="discount" class="old-price">59.99 €</span>
              <!--  -->
              <span title="discount" class="price">53.99€</span>
            </span>
          </div>
          <!--  -->
          <div class="card-game">
            <div class="img-container">
              <div class="img-cover">
                <img
                  src="https://cdn1.epicgames.com/9cf250606722448887fa1447b1d9da06/offer/EGS_WRC9FIAWorldRallyChampionship_KTRacing_S2-1200x1600-2e92991d2eb3440be53f4c41a53d1b3b.jpg?resize=1&w=360&h=480&quality=medium"
                  alt="immagine gioco"
                  class="img-game"
                />
                <div
                  class="wishlist-icon"
                  title="Aggiungi alla lista dei desideri"
                >
                  <span class="icon-plus">+</span>
                  <span class="tooltip-text">Lista dei desideri</span>
                </div>
              </div>
            </div>
            <span>Gioco base</span>
            <h4 class="title-game">WRC 9 FIA World Rally Championship</h4>
            <span title="descrizione_uscita"></span>
            <span title="discount" class="price-container">
              <span title="discount" class="discount">-90%</span>
              <span title="discount" class="old-price">29.99 €</span>
              <span title="discount" class="price">2.99€</span>
            </span>
          </div>
          <!--  -->
          <div class="card-game">
            <div class="img-container">
              <div class="img-cover">
                <img
                  src="https://cdn1.epicgames.com/offer/9773aa1aa54f4f7b80e44bef04986cea/EGS_RocketLeague_PsyonixLLC_S2_1200x1600-90239520d8dce4a685c3f642ff9645a1?resize=1&w=360&h=480&quality=medium"
                  alt="immagine gioco"
                  class="img-game"
                />
                <div
                  class="wishlist-icon"
                  title="Aggiungi alla lista dei desideri"
                >
                  <span class="icon-plus">+</span>
                  <span class="tooltip-text">Lista dei desideri</span>
                </div>
              </div>
            </div>
            <span>Gioco base</span>
            <h4 class="title-game">Rocket League®</h4>
            <span title="descrizione_uscita"></span>
            <span title="discount" class="price">Gratis</span>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </body>
</html>
