/* qui metti le regole del container elementi pagina web e regole della pagina web */

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  margin: 0 auto;
}
