<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="obiettivi-gioco.css" />
    <link rel="stylesheet" href="../common.css" />
    <title>Obiettivi Gioco</title>
  </head>
  <body>
    <div class="obiettivi">
      <h2>Obiettivi disponibili</h2>

      <div class="card-total">
        <div class="card">
          <div class="icona">
            <img
              src="../img-obiettivi/ribelle.jpg"
              alt="Ribelle fino alla fine"
            />
          </div>
          <p>Ribelle fino alla fine</p>
          <span>🏆 100 XP</span>
        </div>

        <div class="card">
          <div class="icona">
            <img
              src="../img-obiettivi/dipendente.jpg"
              alt="Dipendente modello"
            />
          </div>
          <p>Dipendente modello</p>
          <span>🏆 50 XP</span>
        </div>

        <div class="card">
          <div class="icona">
            <img
              src="../img-obiettivi/indagine.jpg"
              alt="Indagine meticolosa"
            />
          </div>
          <p>Indagine meticolosa</p>
          <span>🏆 100 XP</span>
        </div>

        <div class="card">
          <div class="icona">
            <img
              src="../img-obiettivi/meritati.jpg"
              alt="Ce lo siamo meritati"
            />
          </div>
          <p>Ce lo siamo meritati</p>
          <span>🏆 100 XP</span>
        </div>
      </div>

      <a href="#">Vedi tutti i 30 obiettivi →</a>
    </div>
  </body>
</html>
