.obiettivi h2 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
  padding-right: 450px;
}

.card-total {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #121212;
  border-radius: 10px;
  padding: 15px;
  width: 140px;
  text-align: center;
}

.card p {
  font-size: 14px;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icona {
  width: 70px;
  height: 70px;
  margin: 0 auto 10px;
  background: #333;
  border-radius: 10px;
  border: 4px solid #c44;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.icona img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link-blu {
  color: #1a73e8;
  text-decoration: none;
  align-content: center;
}

.link-blu:visited {
  color: #1a73e8;
}

.link-blu:hover {
  color: #1a73e8;
  text-decoration: underline;
}

.link-blu:active {
  color: #1a73e8;
}
