<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edizioni di Gioco</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="dlc.css" />
  </head>
  <body>
    <header>
      <h1>Edizioni di Alien: Rogue Incursion Evolved Edition</h1>
    </header>

    <main class="container">
      <section class="card">
        <div class="contenuto">
          <img
            alt="Alien: Rogue Incursion Evolved Edition Deluxe"
            class="cover"
            src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1icfg.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
          />

          <div class="dettagli">
            <p class="edizione">Edizione</p>
            <h2 class="titolo">
              Alien: Rogue Incursion Evolved Edition **Deluxe**
            </h2>

            <p class="descrizione">
              A new action-horror story set in the iconic Alien universe. Play
              as rogue Colonial Marine Zula Hendricks, investigating a Purdan
              blacksite. Fight and survive using your skill and determination
              against a deadly Xenomorph...
            </p>

            <p class="prezzo">34,99 €</p>

            <div class="azioni">
              <button class="pul carrello">Aggiungi al carrello</button>
              <button class="pul desideri">Lista dei desideri</button>
            </div>
          </div>
        </div>
      </section>

      <section class="card">
        <div class="contenuto">
          <img
            alt="Alien: Rogue Incursion Evolved Edition"
            class="cover"
            src="https://cdn1.epicgames.com/spt-assets/f51d4c4cd9754f75b03a9c3a00ee06a6/alien-rogue-incursion-evolved-edition-1awhy.jpg?resize=1&amp;w=480&amp;h=270&amp;quality=medium"
          />

          <div class="dettagli">
            <p class="edizione">Gioco base</p>
            <h2 class="titolo">Alien: Rogue Incursion Evolved Edition</h2>
            <p class="descrizione">
              A new action-horror story set in the iconic Alien universe. Play
              as rogue Colonial Marine Zula Hendricks, investigating a Purdan
              blacksite. Fight and survive using your skill and determination
              against a deadly Xenomorph...
            </p>

            <p class="prezzo">24,99 €</p>

            <div class="azioni">
              <button class="pul carrello">Aggiungi al carrello</button>
              <button class="pul desideri">Lista dei desideri</button>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
