@media (max-width: 376px) {
  .container {
    max-width: 500px;
  }

  .contenuto {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    max-width: 500px;
  }

  .cover {
    max-width: 306px;
    min-height: 172px;
  }

  .azioni {
    flex-direction: column;
    gap: 8px;
  }

  .pul {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
  }

  .carrello {
    background-color: #007bff;
    color: white;
    padding: 10px 50px 10px 50px;
  }

  .carrello:hover {
    background-color: #0056b3;
  }

  .desideri {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #555555;
    padding: 10px 50px 10px 50px;
  }

  .desideri:hover {
    background-color: #555555;
  }

  .card-dlc {
    padding: 15px;
    max-width: 350px;
  }

  .prezzo {
    margin-bottom: 15px;
  }

  .descrizione {
    text-align: start;
  }
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
}

.container {
  min-width: 1000px;
  margin: 0 auto;
}

.card-dlc {
  background-color: #1e1e1e;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #333;
}

.contenuto {
  display: flex;
  gap: 20px;
}

.cover {
  max-width: fit-content;
  height: 163px;
  background-color: #000000;
  position: relative;
  border-radius: 4px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.dettagli {
  flex-grow: 1;
  text-align: left;
}

.edizione {
  color: #aaaaaa;
  font-size: 14px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

.titolo {
  font-size: 18px;
  margin: 0 0 10px 0;
}

.descrizione {
  font-size: 14px;
  color: #cccccc;
  line-height: 1.5;
  margin-bottom: 20px;
}

.prezzo {
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-align: left;
}

.azioni {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.pul {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s;
  gap: 2px;
}

.carrello {
  background-color: #007bff;
  color: white;
  padding: 10px 50px 10px 50px;
}

.carrello:hover {
  background-color: #0056b3;
}

.desideri {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
  padding: 10px 50px 10px 50px;
}

.desideri:hover {
  background-color: #555555;
}
