body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.epic-footer {
  background-color: #1a1a1a;
  color: #a0a0a0;
  padding: 40px 150px;
  font-size: 14px;
}

.epic-footer h4 {
  color: #f7f7f7;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}

.epic-footer a {
  color: #a0a0a0;
  text-decoration: none;
}

a:hover {
  color: #f7f7f7;
  transition: color 0.3s;
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
}

.store-logo {
  color: #f7f7f7;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.icone-social .svg {
  /*fill: #a0a0a0; */
  color: #a0a0a0;

  font-size: 20px;
  margin-left: 20px;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.icone-social svg:hover {
  color: #ffffff;
}

.link-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gruppi-link {
  display: flex;
  gap: 50px;
}

.link-column {
  flex: 3;
  min-width: 250px;
}

.link-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-column li {
  margin-bottom: 8px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.testo-copyright {
  max-width: 75%;
  line-height: 1.5;
}

.testo-copyright p {
  margin: 0;
}

.torna-su {
  background-color: #333;
  color: #f7f7f7;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: fit-content;
}

.torna-su:hover {
  background-color: #444;
  color: #ffffff;
}

.arrow-up {
  margin-left: 8px;
  font-size: 16px;
  line-height: 1;
}

.link-legali {
  padding-top: 20px;
}

.link-legali a {
  font-size: 12px;
  margin-right: 20px;
}

.link-legali a:last-child {
  margin-right: 0;
}
