@media (max-width: 769px) {
  .link-colonne {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 376px) {
  .colonna > ul {
    display: none;
  }

  .link-colonne {
    display: flex;
    flex-direction: column;
  }

  .mezzo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .copyright {
      max-width: fit-content;
      padding-bottom: 20px;
    }
  }

  .fondo-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  background-color: #121212;
  color: #a0a0a0;
  padding: 30px 60px 20px 60px;

  font-size: 14px;
}

.footer h4 {
  color: #f7f7f7;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer a {
  color: #a0a0a0;
  text-decoration: none;
}

.footer a:hover {
  color: #ffffff;
  transition: color 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #333;
}

.logo {
  color: #f7f7f7;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.icone-social .svg {
  fill: #a0a0a0;
  font-size: 20px;
  margin-left: 20px;
  display: inline-block;
  width: 30px;
  text-align: center;
}

.icone-social .svg:hover {
  color: #ffffff;
}

.link-colonne {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #333;
}

.colonna {
  flex-basis: 15%;
  min-width: 150px;
}

.colonna h4 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: bold;
}

.colonna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colonna li {
  margin-bottom: 8px;
}

.mezzo-container {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.copyright {
  max-width: 65%;
  line-height: 1.6;
  margin: 0;
  font-size: 12px;
}

.torna-su {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  height: 50px;
}

.torna-su:hover {
  background-color: #555555;
}

.torna-su svg {
  fill: #fefefe;
  margin-left: 8px;
}

.fondo-container {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.fondo-container {
  display: flex;
  gap: 20px;
}
