/*grandezza card*/
.card-game {
  min-width: 50px;
  max-width: 250px;
  height: 100%;
  margin-left: 5px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

/* effetto immagine e hover */
.img-container {
  position: relative;
  border-radius: 10px;
}

.img-cover {
  position: relative;
  overflow: visible;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

/* Nuovo contenitore per l'icona + e il tooltip */
.wishlist-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10; /* Assicurati che sia sopra l'immagine */
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/* L'icona appare quando si fa hover sull'immagine */
.img-cover:hover .wishlist-icon {
  opacity: 1;
}

/* Stile dell'icona '+' */
.icon-plus {
  background-color: var(--background-web-page);
  color: var(--font-text-white-color);
  font-size: larger;
  border: 2px solid var(--font-text-white-color);
  border-radius: 50%;
  padding: 0px 5px;
}

/* Stile del Tooltip "Lista dei desideri" */
.tooltip-text {
  content: "Lista dei desideri";
  position: absolute;
  right: -60px;
  top: -45px;
  transform: translateY(-50%);
  color: var(--font-text-white-color);
  font-size: 15px;
  border: 1px solid var(--background-grey-footer);
  background-color: var(--background-grey-footer);
  padding: 12px;
  border-radius: 5px;
  white-space: nowrap; /* Evita che il testo vada a capo */

  /* Nascondi il tooltip per default */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 9;
}

/* Quando si fa hover sull'icona ('+'), appare il tooltip */
.wishlist-icon:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.img-game {
  filter: brightness(100%);
  transition: filter 0.3 ease;
  border-radius: 15px;
}
.img-game:hover {
  filter: brightness(150%);
}

/*  */
.title-game {
  font-size: 1.2em;
  font-weight: bold;
}

/* container per il discount */
.price-container span[title="discount"] {
  margin: 5px;
  font-size: 0.95em;
  display: inline-block;
}
/* stili css per span class discount */
.discount {
  border: 1px solid var(--azure-discount-color);
  border-radius: 20px;
  background-color: var(--azure-discount-color);
  color: var(--font-text-black-color);
  height: 20px;
  width: 60px;
  text-align: center;
  line-height: 20px;
}

.old-price {
  text-decoration: line-through;
  position: relative;
}

.old-price::after {
  content: "*";
  position: absolute;
  text-decoration: none;
  top: 0;
  left: 100%;
}
