<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="card-game.css" />
  </head>
  <body>
    <div style="background-color: var(--background-web-page)">
      <div class="card-game">
        <div class="img-container">
          <div class="img-cover">
            <img
              src="https://cdn1.epicgames.com/spt-assets/a55e4c8b015d445195aab2f028deace6/where-winds-meet-1h4pe.jpg?resize=1&w=360&h=480&quality=medium"
              alt="immagine gioco"
              class="img-game"
            />
          </div>
        </div>
        <span>Gioco base</span>
        <h4 class="title-game">Where wind meet</h4>
        <span title="descrizione_uscita">In arrivo</span>
        <span title="discount" class="price-container">
          <!-- span prezzo discount -->
          <span title="discount" class="discount">-20%</span>
          <span title="discount" class="old-price">79.99 €</span>
          <!--  -->
          <span title="discount" class="price">63.99€</span>
        </span>
      </div>
    </div>
  </body>
</html>
