/* body {
  background-color: #121212;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 40px;
} */

.card-gioco {
  background-color: #121212;
  border-radius: 12px;
  padding: 24px 24px 24px 0px;
  width: 320px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.pegi {
  display: flex;
  align-items: center;
  background-color: #121212;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pegi img {
  width: 45px;
  height: auto;
  border-radius: 4px;
}

.pegi p {
  font-size: 13px;
  color: #bbb;
  line-height: 1.3;
}

.etichetta {
  background-color: #2b2b2b;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
  color: #ccc;
}

.prezzo {
  margin-top: 12px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.card-gioco > button {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 10px;
  font-weight: 500;
}

.b-blu {
  background-color: #1a9fff;
  color: #fff;
  text-align: center;
}

.b-blu:hover {
  background-color: #38afff;
}

.b-grigio-c {
  background-color: #666363;
  color: #e6e6e6;
  text-align: center;
}

.b-grigio {
  background-color: #2e2e2e;
  color: #e6e6e6;
  text-align: center;
}

.b-grigio:hover {
  background-color: #3a3a3a;
}

.info {
  margin-top: 20px;
  border-top: 1px solid #3d3d3d;
  padding-top: 16px;
  font-size: 14px;
}

.info p {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  color: #ccc;
  border-bottom: 1px solid #3d3d3d;
  padding-bottom: 10px;
}

.info span {
  color: #999;
}

.info a {
  color: #4ba8ff;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.link {
  display: inline-block;
  margin-top: 20px;
  color: #4ba8ff;
  text-decoration: none;
  font-size: 14px;
}

.link:hover {
  text-decoration: underline;
}

.azioni {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.b-mini {
  flex: 1;
  padding: 10px 0;
  font-size: 14px;
  background-color: #2b2b2b;
  color: #e6e6e6;
  border-radius: 8px;
  text-align: center;
}

.b-mini:hover {
  background-color: #3a3a3a;
}

.windows-icon {
  width: 18px;
  height: 18px;
  fill: #ccc;
  vertical-align: middle;
  margin-left: 6px;
}

.seconda-pagina {
  display: flex;
  flex-direction: row;
  align-items: center;
}
